<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="stock-correlation">
  <template>
    <style>
    :host {
      display: block;
      position: relative;
      background-color: white;
      padding: 5px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .card-header {
      margin-bottom: 0px;
    }
    polyfill-next-selector { content: '.card-header img'; }
    .card-header ::content img {
      width: 275px;
      padding:10px;
    }
    polyfill-next-selector { content: '.card-header h1'; }
    .card-header ::content h1 {
      margin: 0;
      font-size: 1.4rem;
      color: #444444;
      font-weight: 400;
      text-align: left;
      width: 110px;
    }
    polyfill-next-selector { content: '.card-header h2'; }
    .card-header ::content h2 {
      margin: 2px;
      font-size: 1.0rem;
      color: #4CAE50;
      font-weight: 400;
      text-align: right;
      float: right;
      width: 160px;
    }
    polyfill-next-selector { content: '.card-header h3'; }
    .card-header ::content h3 {
      margin: 0;
      margin-bottom: 5px;
      width:272px;
      height:4px;
      background-color: #4CAE50;
    }
    polyfill-next-selector { content: '.card-header h4'; }
    .card-header ::content h4 {
      margin: 0;
      font-size: 1.4rem;
      color: #444444;
      font-weight: 400;
      text-align: left;
      width: 110px;
    }
    polyfill-next-selector { content: '.card-header h5'; }
    .card-header ::content h5 {
      margin: 2px;
      font-size: 1.0rem;
      color: #4CAE50;
      font-weight: 400;
      text-align: right;
      width: 160px;
    }
    polyfill-next-selector { content: '.card-header h6'; }
    .card-header ::content h6 {
      margin: 0;
      margin-bottom: 4px;
      width:272px;
      height:4px;
      background-color: #4CAE50;
    }
    polyfill-next-selector { content: '.card-header h7'; }
    .card-header ::content h7 {
      margin: 0;
      font-size: 1.4rem;
      color: #444444;
      font-weight: 400;
      text-align: left;
      width: 110px;
    }
    polyfill-next-selector { content: '.card-header h8'; }
    .card-header ::content h8 {
      margin: 2px;
      font-size: 1.0rem;
      color: #4CAE50;
      font-weight: 400;
      text-align: right;
      width: 160px;
    }
    polyfill-next-selector { content: '.card-header h9'; }
    .card-header ::content h9 {
      margin: 0;
      margin-bottom: 4px;
      width:272px;
      height:4px;
      background-color: #4CAE50;
    }
    polyfill-next-selector { content: '.card-header h10'; }
    .card-header ::content h10 {
      margin: 0;
      font-size: 1.4rem;
      color: #444444;
      font-weight: 400;
      text-align: left;
      width: 110px;
    }
    polyfill-next-selector { content: '.card-header h11'; }
    .card-header ::content h11 {
      margin: 2px;
      font-size: 1.0rem;
      color: #4CAE50;
      font-weight: 400;
      text-align: right;
      width: 160px;
    }
    polyfill-next-selector { content: '.card-header h12'; }
    .card-header ::content h12 {
      margin: 0;
      margin-bottom: 4px;
      width:272px;
      height:4px;
      background-color: #4CAE50;
    }
    .key{
      width: 275px;
      padding:10px;
    }
    </style>

    <div class="card-header" layout horizontal center>
      <div layout vertical center>

        <div>
          <content select="img"><img src="../images/correlationKey.png" /></content>
        </div>

        <div layout vertical center>
          <div layout horizontal center>
            <content select="h1"></content>
            <content select="h2"></content>
          </div>
          <div>
            <content select="h3"></content>
          </div>
        </div>

        <div layout vertical center>
          <div layout horizontal center>
            <content select="h4"></content>
            <content select="h5"></content>
          </div>  
          <div>
            <content select="h6"></content>
          </div>
        </div>


        <div layout vertical center>
          <div layout horizontal center>
            <content select="h7"></content>
            <content select="h8"></content>
          </div>  
          <div>
            <content select="h9"></content>
          </div>
        </div>

        <div layout vertical center>
          <div layout horizontal center>
            <content select="h10"></content>
            <content select="h11"></content>
          </div>  
          <div>
            <content select="h12"></content>
          </div>
        </div>

      </div>

      <div>
         <content></content>
         <content></content>
      </div>

    </div>
  </template>
  <script>
  Polymer({

  });
  </script>
</polymer-element>
