<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="stock-card.html">

<polymer-element name="stock-list" attributes="show">
  <template>
    <style>
    :host {
      display: block;
      width: 100%;
    }
    stock-card {
      margin-bottom: 10px;
    }
    </style>
    
    <div layout vertical center>
      <template>
          {% set num = 0 %}
          {% for stock in stock_list %}
          <stock-card
            favorite="false"
            on-favorite-tap="{{handleFavorite}}"
            hidden?="{{show == 'favorites' && !false}}">
            <img src="../images/nyse.png" />
            <h1>#{{stock.rank}}</h1>
            <h2>{{stock.symbol}}</h2>
            <h3>{{stock.company}}</h3>
            <h4>{{stock.exchange}}</h4>
            <h5>{{stock.exchange}}</h5>
            <h6>Previous Close vs Forecasted Close</h6>
            <h7><img src="../images/uparrow.png" style="width:20px;height:20px;padding:0;margin:0 2px 0 0;" />
            {{'{0:,.2f}'.format(computed_values[{{num}}][2]) }}({{ '{0:,.2f}'.format(computed_values[{{num}}][3]) }}%)</h7>
            <h8>Model Accuracy <img src="../images/rank1.png" style="width:12px;height:12px;padding:0;margin:0 0 -2px 1px;" /></h8>
          </stock-card>
          {% set num = num + 1 %}
        {% endfor %}
      </template>
      <paper-fab icon="add" hidden?="{{show != 'favorites'}}" ></paper-fab>
    </div>

  </template>

  <script>
  Polymer({
    handleFavorite: function(event, detail, sender) {
      var post = sender.templateInstance.model.post;
      this.$.service.setFavorite(post.uid, post.favorite);
    }
  });
  </script>
</polymer-element>
