<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="stock-market">
  <template>
    <style>
    :host {
      display: block;
      position: relative;
      background-color: white;
      padding: 5px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .card-header {
      margin-bottom: 0px;
    }


    </style>

    <div class="card-header" layout horizontal center>
     <content></content>
    </div>
  </template>
  <script>
  Polymer({
    
  });
  </script>
</polymer-element>
