<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">

<polymer-element name="stock-card">
  <template>
    <style>
    :host {
      display: block;
      position: relative;
      background-color: white;
      padding: 5px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .card-header {
      margin-bottom: 0px;
    }
    polyfill-next-selector { content: '.card-header img'; }
    .card-header ::content img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 5px;
    }
    polyfill-next-selector { content: '.card-header h1'; }
    .card-header ::content h1 {
      margin: 0;
      font-size: 0.85rem;
      font-weight: 300;
    }
    polyfill-next-selector { content: '.card-header h2'; }
    .card-header ::content h2 {
      margin: 0;
      line-height: 25px;
      font-size: 1.5rem;
      font-weight: 300;
    }
    polyfill-next-selector { content: '.card-header h3'; }
    .card-header ::content h3 {
      margin: 0;
      font-size: 0.85rem;
      font-weight: 300;
    }
    polyfill-next-selector { content: '.card-header h4'; }
    .card-header ::content h4 {
      margin: 0;
      font-size: 0.70rem;
      font-weight: 300;
    }
     polyfill-next-selector { content: '.card-header h5'; }
    .card-header ::content h5 {
      margin: 0;
      font-size: 0.75rem;
      font-weight: 300;
    }
    polyfill-next-selector { content: '.card-header h6'; }
    .card-header ::content h6 {
      margin: 0;
      font-size: 0.6rem;
      color: #D7D7D7;
      font-weight: 400;
    }
    polyfill-next-selector { content: '.card-header h7'; }
    .card-header ::content h7 {
      margin: 2px;
      font-size: 1.5rem;
      color: #4CAE50;
      font-weight: 400;
    }
    polyfill-next-selector { content: '.card-header h8'; }
    .card-header ::content h8{
      margin: 0;
      color: #D7D7D7;
      font-size: 0.5rem;
      font-weight: 400;
    }
    .close-change{
      /*width:250px;*/
      margin-right: 10%;
    }
    .fav {
      position: absolute;
      top: 3px;
      right: 3px;
      color: #636363;
    }
    :host([favorite]) core-icon-button {
      color: #FFC107;
    }
    paper-ripple{
      color:#2196F3;
    }
    @media (min-width: 650px) {
      .close-change{
        margin-right: 10%;
      }
      .card-header ::content img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 10px;
      }
      .card-header ::content h2 {
        font-size: 1.8rem;
      }
      .card-header ::content h6 {
        font-size: 0.7rem;
      }
      .card-header ::content h7 {
        font-size: 1.8rem;
      }
      .card-header ::content h8{
        font-size: 0.6rem;
      }
    }
    </style>

    <div class="card-header" layout horizontal center>
      <paper-ripple fit></paper-ripple>
      <content select="img"></content>
      <div class="info" flex>
        <content select="h1"></content>
        <content select="h2"></content>
        <content select="h3"></content>
        <content select="h4"></content>
        <content select="h5"></content>
      </div>
      <div class="close-change" layout Vertical center>
        <content select="h6"></content>  
        <content select="h7"></content>  
        <content select="h8"></content>  
      </div>
    </div>
    <content></content> 
  </template>
  <script>
  Polymer({
    publish: {
      favorite: {
        value: false,
        reflect: true
      }
    },
    favoriteTapped: function(event, detail, sender) {
      this.favorite = !this.favorite;
      this.fire('favorite-tap');
    }
  });
  </script>
</polymer-element>
